/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; color:green, Roboto, "Helvetica Neue", sans-serif; }
.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}

.signin{
  border-radius: 5%;
  aspect-ratio: 5/3;
}
.img-fluid{
  scale: 150%;
  padding-right: 15%;
  transform: rotate(-40deg);
  opacity: 0.5;
}


